!!! 5
html(lang='en')

// jQuery import
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")

// underscore and backbone
script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js")

// d3.js stuff
script(type="text/javascript", src="javascripts/d3.js")
script(type="text/javascript", src="javascripts/d3.layout.js")

// other libs
script(src="/socket.io/socket.io.js")

// clustering lib
script(type="text/javascript", src="javascripts/clusterfck-0.1.js");


// application scripts
script(type="text/javascript", src="javascripts/client.js")

// css
link(type="text/css", href="stylesheets/Aristo/Aristo.css", rel="stylesheet")

h1= title
  span(class="mini_icon icon_settings")

p
  div#locationChoice
    div#radio
      input(type="radio"
        id="radioRegion"
        name="radio"
        class="ui-corner-left")
      label(for="radioRegion")
        | go to region
      input(type="radio"
        id="radioFeature"
        name="radio"
        class="ui-corner-right")
      label(for="radioFeature")
        | go to feature
    p
      div#regionSearch
        | chromosome
        input#chrom(type="number", size="5")
        |  from
        input#start(type="number")
        |  to
        input#end(type="number")
        input#go(type="submit", value="Go")
          
      div#featureSearch
        | feature
        input#name(type="string")
        |  with flanking region
        input#flank(type="number")
        input#search(type="submit", value="Search")

br

p 
  div#navigate
    span#goLeft(class="mini_icon icon_left")
    span#zoomOut(class="mini_icon icon_minus")
    span#zoomIn(class="mini_icon icon_plus")
    span#goRight(class="mini_icon icon_right")
    span#positionText
  
  div#graphs
    div#chart
    div#tree
